@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --blue: #23A6F0;
    --white: #fff;
    --bold:700;
    --lightweight:400;
    --medium:500;
    --bolder:800,
    --primary: #252B42;
    --color:#737373;
    --heading-color:#252B42;

}
body{
    background-color: #f3f3f3;

}
.main{
    width: 100%;
    height: 100vh;
}

.main .hero{
    width: 100%;
    height: 100%;
    background: url('./images/hero.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    /* background-color: #23A6F0; */
    /* position:absolute; */
}

.main .hero::before{
    content:"";
    inset:0;
    position: absolute;
    background: rgba(0,0,0,.6);
   
}
.container{
    width:80%;
    margin: 0 auto;
    /* background: red; */
    height: 100%;
}

.container .hero-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    /* background:blue; */
}

.container .hero-content .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* position: sticky;
    z-index:1; */
    z-index:1;
}
.container .hero-content .header .left{
    display: flex;
    /* justify-content: space-between; */
    gap: 5rem;
    align-items: center;
    width:60%;
    /* background-color: red; */
    padding: .4rem;
}

.container .hero-content .header .left .logo{
    color: var(--white);
    /* width: 20%; */
    font-size: 1.5rem;
    font-weight: var(--lightweight);
    display: flex;
    justify-content:center;
    align-items:center;

}
.container .hero-content .header .left .nav ul {
    display:flex;
    /* justify-content:space-between;
    align-items:center; */
    /* gap:10px; */
    gap : 1rem;
    list-style:none;
    width: 70%;
    /* background:red; */
    width:100%;
}
.container .hero-content .header .left .nav ul li a{
    display: flex;
    justify-content:space-between;
    /* background: red; */
    padding: .3rem;
    text-decoration:none;
    color: var(--white);
    font-size: 1.05rem;
    font-weight: var(--lightweight);

}

.container .hero-content .header .right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: blue; */
    width:26%;
}

.container .hero-content .header .right h5{
     font-size: 1.05rem;
     font-weight: var(--lightweight);
     color: var(--white);
}

.container .hero-content .header .right .cta{
    display:flex;
    justify-content: space-around;
    align-items:center;
    width: 10rem;
    gap: .225rem;
    color: var(--white);
    padding: .5rem;
    background: var(--blue);
    outline:none;
    border:none;
    padding: .5rem;
    font-size: .9rem;
}

.container .hero-content .header .right .cta:hover{
    background: var(--white);
    color: var(--blue);
}
.hero-content .hero-mid-content{
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width: 43%;
    margin : 8.125rem auto;
    color: var(--white);
    z-index: 1;
    padding: .9rem;
    /* background: blue; */
}
.hero-content .hero-mid-content .top {
    padding: .5rem;
    display:flex;
    justify-content:center;
    align-items:center;
    /* background:red; */
}
.hero-content .hero-mid-content .top h1{
    line-height: 3rem;
    font-weight: var(--bolder);
    font-size: 3rem;
    /* background:red; */
    padding: .5rem;
    text-align:center;
}

.hero-content .hero-mid-content .bottom{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    padding: .5rem;
    /* background:red; */
    gap: 1.2rem
}
.hero-content .hero-mid-content .bottom p{
    font-size: 1.1rem;
    font-weight: var(--medium);
    line-height: 1.2rem;
    text-align:center;
    padding: .5rem;
    /* background:red; */
}

.hero-content .hero-mid-content .bottom .buttons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1.2rem;
    width: 22rem;
    /* background:blue; */
}

.hero-content .hero-mid-content .bottom .buttons .btn{
    width: 10rem;
    gap: .225rem;
    color: var(--white);
    padding: .4rem;
    padding: .625rem;
    font-size:0.9rem;
    border-radius: 1rem;
}

.hero-content .hero-mid-content .bottom .buttons .rounded{
    background: var(--blue);
    outline:none;
    border:none;
}

.hero-content .hero-mid-content .bottom .buttons .rounded:hover{
    background-color: transparent;
    border: 1px solid #23A6F0;
}
.hero-content .hero-mid-content .bottom .outlined{
    /* outline: 1px solid #fff; */
    background-color: transparent;
    border: 1px solid #fff;
}
.hero-content .hero-mid-content .bottom .outlined:hover{ 
    background: var(--blue);
    outline:none;
    border:none;
}


.main .relative{
    
    position: relative;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: space-around;
    align-items:center;
    gap: 2rem;
    top: -18vh;
    width:80%;
    margin: 0 auto;
    /* background: red; */
    height: 30%;
    padding: .5rem;
}

.main .relative .card{
    background-color: #fff;
    height: 14rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    line-height: 1.8rem;
    padding:2rem;
}
.main .relative .card h2{
    font-size: 1.4rem;
    color: var(--heading-color);
}
.main .relative .card p{
    font-size:1.1rem;
    color: var(--color);
}
.main .relative .card .icon-container ion-icon{
    font-size: 4rem;
    color:var(--blue)
}
/* .main .relative .card:hover  {
    background-color: var(--blue);
    color: white;
}
.main .relative .card p:hover{} */
.main .products{
    background-color: white;
    height: 38%;
    margin-bottom: 10vh;
    /* margin-top: -10vh; */
}
 .main .products .product{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: space-around;
    align-items:center;
    gap: 2rem;
    /* width:80%; */
    /* margin: 0 auto; */
    /* background: red; */
    height: 30%;
    padding: 1rem .5rem;
 }
 .main .products .product .card-1{
    /* background-color: red; */
    height: 14rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:2rem;

 }

.main .products .product .card-1 .icon-container ion-icon{
    font-size: 4rem;
    color:var(--blue)
}

.main .products .product .card-1 h2{
    font-size: 1.4rem;
    color: var(--heading-color);
}
.main .products .product .card-1 p {
    font-size:1.1rem;
    color: var(--color)
}

.main .industry{
    /* background-color: red; */
}
.main .industry .industry-bottom{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: space-around;
    align-items:center;
    gap: 2rem;
    padding: 1rem .5rem;
}

.main .industry .industry-bottom .card-2{
    background-color: white;
    height: 14rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:2rem;
    height: 50vh;
    gap: 1rem;
    margin-top: 1rem;
}  

.main .industry .industry-bottom .card-2 .card2-top img{
    width: 7rem;
    border: 1px solid #737373;
    border-radius: 50%;
}
.main .industry .industry-bottom .card-2  .card2-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    line-height: 1.25rem;
}
.main .industry .industry-bottom .card-2  .card2-bottom p{
    font-size: 1.1rem;
    color: var(--color);
}
.main .industry .industry-bottom .card-2  .card2-bottom .ratings ion-icon{
    color:yellow;
    font-size: 1.3rem;
}
.main .industry .industry-top{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.main .industry .industry-top{
    /* width: 30rem; */
    /* display: flex;
    justify-content: center;
    align-items: center;
    align-self: center; */
    text-align: center;
    /* background-color: #fff; */
}
.main .industry .industry-top h1{
    font-size: 2.1rem;
    color: var(--heading-color);
}
.main .industry .industry-top p{
    font-size: 1.1rem;
    color: var(--color);
}

.main .news-letter{
   /* background-color: red; */
    margin-top: -19vh;
    height: 20vh;
}

.main .news-letter .news-top{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    padding: 1rem .5rem;
    /* background-color: white; */
}

.main .news-letter .news-top .img{
    /* background-color: white; */
    /* height: 50px; */
}
.main .news-letter.main .news-top img{
    width: 100%;
    height: 100%;
}

.main .news-letter .news-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 16vh;
    background: linear-gradient(270deg, #D71489 -1.04%, #004788 100%);
}

.main .news-letter .news-bottom .left{
    width: 16rem;
    font-size: 1.4rem;
    padding: 1rem;
    color: white;
    line-height: 2rem;
}


.main .news-letter .news-bottom .right{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    /* background-color: red; */
    width: 26rem;
    
}

.main .news-letter .news-bottom .right input{
    height: 2.4rem;
    padding: .5rem;
    width: 18rem;
    outline: none;
    border-radius: .3rem;
    border: none;
    position: relative;
}

.main .news-letter .news-bottom .right button{
    height: 2.4rem;
    padding: .5rem;
    width: 6.2rem;
    background-color: var(--blue);
    color: white;
    outline: none;
    border-radius: .3rem;
    border: none;
    position: absolute;
    right: 16rem;
}

.main .pricing{
    margin-top: 13rem;
    /* background-color: blue; */
    /* height: 100%;
} */
}
.main .pricing .pricing-top{
    text-align: center;
    padding: 0.6rem;
    /* background-color: white; */
}
.main .pricing .pricing-top h1{
    font-size: 2.1rem;
    color: var(--heading-color);
}

.main .pricing .pricing-top p{
    font-size: 1.1rem;
    color: var(--color);
}

.main .pricing .prices-bottom{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: .7rem;
}

.main .pricing .prices-bottom .pricing-card{
    width: 100%;
    height: 70vh;
    /* background-color: red; */
    margin-top: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction:column;
    border-radius: .4rem;
    /* background-color: white;
    border: 1px solid #23A6F0; */
}
.main .pricing .prices-bottom .light{
    background-color: white;
    border: 1px solid #23A6F0;
}
.main .pricing .prices-bottom .dark{
    background-color: #252B42;
    color:white;
}

.main .pricing .prices-bottom .pricing-card .top h1{
    font-size: 1.4rem;
    color: var(--heading-color);
}
.main .pricing .prices-bottom .pricing-card .text{
    width:9.7rem;
    padding:.5rem;
    font-size:1.1rem;
    text-align:center;
     color: var(--color);
    
    /* background:red; */
}

.main .pricing .prices-bottom .pricing-card .price .blue{
    color: var(--blue);
    font-size:1.9rem;
    position: relative;
}

.main .pricing .prices-bottom .pricing-card .price .blue .top{
    font-size:1rem;
    top:-.1rem;
    /* left:3.62rem; */
    position:absolute;
    /* background: red; */
    padding:.1rem;
}

.main .pricing .prices-bottom .pricing-card .price .per{
    color: var(--blue);
    font-size:.9rem;

}

.main .pricing .prices-bottom .pricing-card  .pricing-bottom{
    padding:.9rem;
    /* background:red; */
    
}
.main .pricing .prices-bottom .pricing-card  .pricing-bottom p{
    /* color: var(--color) */
    text-align:center;
    font-size:1rem;
}
.main .pricing .prices-bottom .pricing-card  .pricing-bottom .icon{
    margin-right: 1rem;
    font-size:1.5rem;
    padding:.5rem;
    color:rgb(100, 97, 97);
}

.main .pricing .prices-bottom .pricing-card  .pricing-bottom .green{
    color:rgb(49, 156, 49);
}

.main .pricing .prices-bottom .pricing-card .pricing-btn{
    /* background:red; */
    width: 55%;
    display:flex;
    align-items:center;
    justify-content:center;
    padding:.5rem;
}
.main .pricing .prices-bottom .pricing-card .pricing-btn button{
    width:100%;
    height: 2.4rem;
    background:var(--blue);
    color:white;
    border:none;
    outline:none;
    font-size:1rem;
}

.main .branches{
    background: var( --heading-color);
    width:100%;
    padding: .5rem;
}

.main .branches .container{
   
    display:grid;
    grid-template-columns: repeat(2,1fr);
    padding: .9rem;
    color:white;
}

.main .branches .container .branches-text{
    /* background:rgb(192, 23, 23); */
    padding:.9rem;
    display :flex;
    flex-direction:column;
    gap:2rem;
    align-items:start;
    
}
.main .branches .container .branches-text h2{
    font-size: 1.8rem;
    width: 20rem;
    margin-top:2rem;
}
.main .branches .container .branches-text p{
    font-size:1rem;
    width:20.6rem;
    font-weight:400;
    line-height: 1.4rem;
}

.main .branches .container .branches-map{
    /* background:red; */
}
.main .branches .container .branches-map img{
    margin-top: 3.6rem;
}

.main .appointment {
    display:flex;
    flex-direction:column;
    align-items:center;
    padding: .5rem;
    width: 45rem;
    position: relative;
    top: -40vh;
    /* justify-content:center; */
}
.main .appointment .appointment-form{
    width:100%;
    display:grid;
    grid-template-columns: 240px 1fr;
    height: 32rem;
    background:white;
}
.main .appointment .appointment-form .left {
    width:100%;
    background: url("./images/contact.png" );
    background-size:cover;
    padding: .8rem
}
.main .appointment .appointment-form  form{
    padding: .8rem
}

.main .appointment .appointment-form  form h2{
    font-size: 1.4rem;
    margin-bottom: 2rem;
    text-align:center;
    color: var( --heading-color);
}

.main .appointment .appointment-form  form  .form-content{
    display:flex;
    flex-direction:column;
    gap:1.2rem;
}
.main .appointment .appointment-form  form  .form-content div{
    display:flex;
    flex-direction:column;
    gap: .1rem;
}

.main .appointment .appointment-form  form  .form-content div input,.main .appointment .appointment-form  form  .form-content div select{
    outline:none;
    border:none;
    height:2rem;
    padding: .5rem;
    background: #e7dede;
    border-radius: .2rem;
    color: var(--color)
}

.main .appointment .appointment-form  form  .form-content div .form-btn{
    height:2.5rem;
    outline: none;
    border:none;
    font-size: 1rem;
    color:white;
    background: var(--blue);
    border-radius: .2rem;
}

.main .appointment .appointment-form  form  .form-content div label{
    font-size: 1.2rem;
    color: var( --heading-color);
    font-weight: 600;
}

.main .consult{
    /* background:red; */
    margin-top: -23rem;
    height: 9rem;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:.5rem;
}
.main .consult .right h3{
    font-size: 1.4rem;
    color: var( --heading-color);
    font-weight: 600;
}

.main .consult .right p{
    font-size: 1rem;
    color: var( --color);
    margin-top:1rem
}

.main .consult .left button{
    background: var(--blue);
    color: white;
    font-size: 1rem;
    outline:none;
    border:none;
    border-radius: .2rem;
    height:3rem;
    padding: .5rem;
    width: 10rem
}

.main .footer{
    height: 40vh;
    width: 100%;
    background: white;
    padding:.5rem;
}

.main .footer .container {
    display:flex;
    flex-direction:column;
    gap: 1rem;
    /* background:red; */
}

.main .footer .container .top{
    /* background:blue; */
    width: 100%;
    height: 20rem;
    padding: .5rem;
    display:grid;
    grid-template-columns: repeat(5,1fr);
    gap: .2rem;
}

.main .footer .container .top .column{
    width: 13rem;
    height:100%;
    /* background:green; */
    padding: .5rem;
}
.main .footer .container .top .column h4{
    padding: .5rem;
    margin-left: .7rem;
    color:color(--heading-color);
    font-size:1.2rem;
}
.main .footer .container .top .column .footer-content{
    margin-top: .3rem;
    display:flex;
    flex-direction:column;
    /* gap:.2rem; */
    justify-content: space-evenly;
    height:70%;
    /* background:red; */
    padding: 1rem;
    font-size:1rem;
    color:var(--color);
}.main .footer .container .top .column .footer-content .icon{
    color: var(--blue);
    font-size:1.3rem;
}